<template>
  <div id="board">

    <v-container grid-list-md>
      <v-btn class="mt-4" large v-if="user.is_turn === '1'" color="primary" @click="nextPlayer">Next Player</v-btn>
      <h1>Czar: {{ czar.username }} <v-icon>stars</v-icon></h1>
      <v-layout wrap>
        <v-flex  d-flex xs4 sm4 md2>
          <v-card color="black">
            <v-card-text style="height: 30vh;">
              <b>{{ questionCard.text }}</b>
            </v-card-text>
            <v-card-actions class="justify-center">
            </v-card-actions>
          </v-card>
        </v-flex>

        <v-flex v-for="(card, i) in betCards" :key="i" d-flex xs4 sm4 md2>
          <v-card color="grey lighten-3" class="black--text">
            <v-card-text style="height: 30vh;">
              <b>{{ card.text }}</b>
            </v-card-text>
            <v-card-actions class="justify-center">
              <v-btn v-if="user.is_turn === '1'" :disabled="user.is_vote === '1'" color="success" @click="winnerCard(card)">Winner</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>

    <v-container grid-list-md>
      <v-layout wrap>
        <v-flex v-for="(card, i) in answerCards" :key="i"  d-flex xs4 sm4 md2>
          <v-card color="grey lighten-3" class="black--text">
            <v-card-text style="height: 30vh;">
              <b>{{ card.text }}</b>
            </v-card-text>
            <v-card-actions class="justify-center">
              <v-btn :disabled="user.is_bet === '1' || user.is_turn === '1'" @click="betCard(card)">bet</v-btn>
              <v-btn :disabled="user.is_remove === '1' || user.is_turn === '1'" @click="removeCard(card)">Remove</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>

    <v-container grid-list-md>
      <v-layout wrap>

        <v-flex d-flex xs12 sm4 md3>
          <v-card class="mb-3">
            <v-toolbar dark color="primary">
              <v-toolbar-title class="white--text">Players</v-toolbar-title>
            </v-toolbar>
            <v-card-text>
              <v-list two-line subheader>
                <v-list-tile
                  v-for="player in players"
                  :key="player.username"
                  avatar
                >
                  <v-list-tile-avatar>
                    <v-icon class="primary white--text">face</v-icon>
                  </v-list-tile-avatar>

                  <v-list-tile-content>
                    <v-list-tile-title>{{ player.username }}</v-list-tile-title>
                  </v-list-tile-content>

                </v-list-tile>
              </v-list>
            </v-card-text>
          </v-card>
        </v-flex>

        <v-flex d-flex xs12 sm4 md9>
          <v-card class="mb-3">
            <v-toolbar dark color="primary">
              <v-toolbar-title class="white--text">Chat</v-toolbar-title>
            </v-toolbar>
            <v-card-text>
              <ul class="chatroom" v-chat-scroll>
                <li class="message" v-for="(msg, i) in message" :key="i">
                  <h4>{{ msg.messenger }} | {{ msg.time }}</h4>
                  <p>{{ msg.text }}</p>
                </li>
              </ul>
              <v-divider></v-divider>
              <v-text-field
                class="mt-3"
                label="Message"
                v-model="text" v-on:keyup.enter.native="sendMessage"
                required
              ></v-text-field>
            </v-card-text>
          </v-card>
        </v-flex>

      </v-layout>
    </v-container>
  </div>
</template>

<style scoped>
  #board{
    width:100%;
  }

  .chatroom {
    height: 20vh;
    overflow-y: auto;
  }

  .message {
    width: 470px;
    list-style: none;
  }

  #header-content {
    position: absolute;
    bottom: 0;
  }

  .list__tile__action, .list__tile__avatar, .list__tile__content {
    height: 50%;
  }
</style>

<script>
import HTTP from '../common/HTTP'
import { bus } from '../main'
import _ from 'lodash'
import moment from 'moment'

export default {
  name: 'board',
  data: () => ({
    time: new Date(),
    text: '',
    message: [],
    user: [],
    players: [],
    czar: [],
    answerCards: [],
    betCards: [],
    betTimes: 0,
    betRound: 0,
    questionCard: []
  }),

  created () {
    window.addEventListener('beforeunload', this.quitePlayer)
  },

  sockets: {
    connect: function () {
      console.log('socket connected')
    },

    emitMessage: function (val) {
      this.message.push(val)
    },

    emitJoinPlayer: function (val) {
      console.log(`${val.username} has join the game: ${this.time}`)
      this.players.push(val)
      this.$socket.emit('onMessage', {
        messenger: 'Bot',
        text: `${val.username} has join the game`,
        time: moment().format('MMMM Do YYYY, h:mm:ss a')
      })
      bus.$emit('players', this.players)
    },

    emitBetCard: function (val) {
      console.log(`${val.text} :Player Placed Bet Card: ${this.time}`)
      this.betCards.push(val)
      console.log(_.sortBy(this.betCards, ['user_id']))
    },

    emitWinnerCard: function (val) {
      console.log(`${val.text} :A Winner Card Has Rewared: ${this.time}`)
      this.$swal('Winner Winner Dog Dinner', `${val.user.username} win the round`, 'success')
    },

    emitNextPlayer: function (val) {
      console.log(`Next Player Turn: ${this.time}`)
      this.players = _.clone(val)
      this.czar = _.filter(this.players, {is_turn: '1'})[0]
      let find = _.filter(this.players, {user_id: this.user.user_id, is_turn: '1'})
      this.clearRound()
      this.removeCardBulk(this.betCards)
      this.loadAnswerCards(this.users)

      if (find.length !== 0) {
        this.user.is_turn = '1'
        this.$swal('Yeeet!', 'Its your turn!', 'info')
        this.loadQuestionCard()
        return
      }
      this.user.is_turn = '0'
    },

    emitQuestionCard: function (val) {
      console.log(`${val.text} :A Question Card Has Given: ${this.time}`)
      this.questionCard = val

      for (var i = 0; i < this.questionCard.text.length; i++) {
        if (this.questionCard.text[i] === '_') {
          this.betRound = this.betRound + 1
        }
      }
    },

    emitQuitPlayer: function (val) {
      console.log(`${val.username} has quit the game: ${this.time}`)
      this.players.splice(_.findIndex(this.players, {user_id: val.user_id}), 1)
    }
  },

  beforeRouteLeave (to, from, next) {
    this.$swal({
      title: `Hey!`,
      text: `GG Quit naka?`,
      type: 'info',
      showCancelButton: true,
      confirmButtonText: 'Hai, Sempai',
      cancelButtonText: 'Yamete!'
    }).then(async (result) => {
      if (result.value) {
        next()
        this.$socket.emit('onQuitPlayer', this.user)
      }
    })
  },

  methods: {
    async userInfo () {
      await HTTP.get(`/api/user/${JSON.parse(window.localStorage.user).username}`).then(res => {
        this.user = res.data
        this.joinPlayer(this.user)
        this.loadAnswerCards(this.user)
        this.getQuestion()
      })
    },

    async joinPlayer (user) {
      await HTTP.post('/api/player/register', user).then(res => {
        if (res.data.status !== 'ok') {
          this.$swal('OH Sh*t', 'Server Connection Field, refresh balik dong!', 'error')
          return
        }

        this.$socket.emit('onJoinPlayer', user)
        this.getJoinPlayer()
      })
    },

    async getJoinPlayer () {
      await HTTP.get('/api/player/list').then(res => {
        if (res.statusText !== 'OK') {
          this.$swal('OH Sh*t', 'Server Connection Field, refresh balik dong!', 'error')
          return
        }
        this.players = res.data

        bus.$emit('players', this.players)

        if (this.players[0].user_id === this.user.user_id) {
          this.user.is_turn = '1'
        }

        this.players[0].is_turn = '1'
        this.czar = this.players[0]
      })
    },

    async loadAnswerCards (user) {
      await HTTP.post('/api/cards/load', user).then(res => {
        if (res.statusText !== 'OK') {
          this.$swal('OH Sh*t', 'Server Connection Field, refresh balik dong!', 'error')
        }

        this.answerCards = res.data
      })
    },

    async getQuestion () {
      await HTTP.get('/api/cards/getQuestion').then(res => {
        if (res.statusText !== 'OK') {
          this.$swal('OH Sh*t', 'Server Connection Field, refresh balik dong!', 'error')
        }
        this.questionCard = res.data

        for (var i = 0; i < this.questionCard.text.length; i++) {
          if (this.questionCard.text[i] === '_') {
            this.betRound = this.betRound + 1
          }
        }

        if (this.betRound === 0) {
          this.betRound = 1
        }
      })
    },

    async betCard (card) {
      await HTTP.post('/api/cards/bet', card).then(res => {
        if (res.data.status !== 'ok') {
          this.$swal('OH Sh*t', 'Server Connection Field, refresh bet balik dong!', 'error')
          return
        }
        card.user = this.user
        this.answerCards.splice(_.findIndex(this.answerCards, { answer_id: card.answer_id }), 1)
        this.$socket.emit('onBetCard', card)

        this.betTimes = this.betTimes + 1
        if (this.betTimes === this.betRound) {
          this.user.is_bet = '1'
        }
      })
    },

    async winnerCard (card) {
      this.user.is_vote = '1'
      this.$socket.emit('onWinnerCard', card)
    },

    async removeCard (card) {
      await HTTP.post('/api/cards/remove', card).then(res => {
        if (res.data.status !== 'ok') {
          this.$swal('OH Sh*t', 'Server Connection Field, refresh bet balik dong!', 'error')
          return
        }
        this.$swal('woah', 'Card Removed!', 'success')
        this.loadAnswerCards(this.user)
        this.user.is_remove = '1'
        this.answerCards.splice(_.findIndex(this.answerCards, { answer_id: card.answer_id }), 1)
      })
    },

    async removeCardBulk (cards) {
      await HTTP.post('/api/cards/removeBulk', cards).then(res => {
        if (res.data.status !== 'ok') {
          this.$swal('OH Sh*t', 'Server Connection Field, refresh bet balik dong!', 'error')
          return
        }
        console.log(`Bet Cards Removed! ${this.time}`)
      })
    },

    async nextPlayer () {
      let index = _.findIndex(this.players, { 'is_turn': '1' })

      if (this.players[index + 1]) {
        this.players[index].is_turn = '0'
        this.players[index + 1].is_turn = '1'
        this.$socket.emit('onNextPlayer', this.players)
        return
      }

      this.players[index].is_turn = '0'
      this.players[0].is_turn = '1'
      this.$socket.emit('onNextPlayer', this.players)
    },

    async loadQuestionCard () {
      await HTTP.post('/api/cards/question', this.user).then(res => {
        if (res.statusText !== 'OK') {
          this.$swal('OH Sh*t', 'Server Connection Field, refresh bet balik dong!', 'error')
          return
        }
        this.$socket.emit('onQuestionCard', res.data)
      })
    },

    clearRound () {
      this.betCards = []
      this.user.is_bet = '0'
      this.user.is_remove = '0'
      this.user.is_vote = '0'
      this.betTimes = 0
      this.betRound = 0
    },

    async quitePlayer () {
      this.$socket.emit('onQuitPlayer', this.user)
    },

    sendMessage () {
      if (this.text) {
        this.$socket.emit('onMessage', {
          messenger: this.user.username,
          text: this.text,
          time: moment().format('MMMM Do YYYY, h:mm:ss a')
        })
      }

      this.text = ''
    }
  },

  mounted () {
    this.userInfo()
  }
}
</script>
