<template>
  <div id="dashboard">
  </div>
</template>

<style scoped>
  #dashboard{
    width:100%;
  }
  #chatBox {
    height: 550px;
    overflow: auto;
  }
</style>

<script>
export default {
  name: 'dashboard',
  data: () => ({
    valid: true,
    message: '',
    items: [
      {id: 25, username: 'lionavenue', message: 'bayot ko'}
    ],
    data: [],
    busy: false
  }),
  methods: {
    submit () {
      if (this.message === '') {
        return
      }

      this.items.push(
        {id: 26, username: 'lionavenue', message: this.message} // static username push
      )

      this.$nextTick(() => {
        this.$refs.ex3.scrollTop = 550
      })

      this.message = ''
    },

    notice (data) {
      this.message = '@' + data.username + ':'
    }
  }
}
</script>
