<template>
  <div id="Login">
    <v-content id="bglogin">
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <!--<h1>Lingaw</h1>-->
            <!--<br>-->
            <v-card class="elevation-12">
              <v-toolbar dark color="purple darken-3">
                <v-toolbar-title>Login</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-tooltip bottom>
                  <v-btn
                    icon
                    large
                    target="_blank"
                    slot="activator"
                  >
                    <v-icon large>account_circle</v-icon>
                  </v-btn>
                </v-tooltip>
              </v-toolbar>
              <v-form v-model="valid" ref="form" lazy-validation v-on:keypress.enter.native="loginUser">
                <v-card-text>
                  <v-text-field
                    prepend-icon="person"
                    label="Username"
                    v-model="form.username"
                    type="text"
                    required
                  ></v-text-field>
                  <v-text-field
                    prepend-icon="lock"
                    label="Password"
                    v-model="form.password"
                    type="password"
                    required
                  ></v-text-field>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    @click.native="dialog = true"
                    color="purple darken-3"
                    class="white--text"
                  >
                    Register
                    <v-icon right dark>extension</v-icon>
                  </v-btn>
                  <v-btn
                    @click="loginUser"
                    v-on:keyup.enter.native="loginUser"
                    color="purple darken-3"
                    class="white--text"
                  >
                    Login
                    <v-icon right dark>fast_forward</v-icon>
                  </v-btn>
                </v-card-actions>
              </v-form>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
    <div>
      <template>
        <v-layout row justify-center>
          <v-dialog v-model="dialog" persistent max-width="500px">
            <v-card>
              <v-card-title>
                <span class="headline">Register</span>
              </v-card-title>
              <v-card-text>
                <v-container grid-list-md>
                  <v-layout wrap>
                    <v-flex xs12>
                      <v-text-field label="username" v-model="registerForm.username" required></v-text-field>
                    </v-flex>
                    <v-flex xs12>
                      <v-text-field label="Password" type="password" v-model="registerForm.password" required></v-text-field>
                    </v-flex>
                    <v-flex xs12>
                      <v-text-field label="Favorite Food" v-model="registerForm.favorite_food" required></v-text-field>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" flat @click.native="dialog = false">Close</v-btn>
                <v-btn color="blue darken-1" flat @click="registerUser">Sign In</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-layout>
      </template>
    </div>
  </div>
</template>

<style scope>
  #Login{
    width:100%;
  }
  #bglogin {
    width:100%;
    height: 100%;
    background-image: url('../assets/68505012-material-wallpapers.png');
    background-size: cover;
  }
</style>

<script>
import HTTP from '../common/HTTP'
import { bus } from '../main'
export default {
  data: () => ({
    dialog: false,
    valid: true,
    drawer: null,
    form: { username: '', password: '' },
    registerForm: { username: '', password: '', favorite_food: '' }
  }),

  methods: {
    async loginUser () {
      await HTTP.post('/api/user/login', this.form).then(response => {
        this.token = response.data.token

        if (response.data.code === 500) {
          this.$swal('THAP', 'OH Sh*t ' + response.data.status, 'error')
          return
        }

        if (response.data.status === 'error') {
          this.$swal('THAP', 'OH Sh*t ' + response.data.message, 'error')
          return
        }

        HTTP.defaults.headers.Authorization = response.data.token

        window.localStorage.setItem('user', JSON.stringify({
          'username': this.form.username
        }))

        window.localStorage.setItem('token', response.data.token)
        bus.$emit('token', window.localStorage.token)
        this.$swal('Agik!', `Hello ${this.form.username}!`, 'success')
        this.$router.push({path: '/'})
      })
    },

    async  registerUser () {
      await HTTP.post('/api/user/register', this.registerForm).then(response => {
        if (response.data.status !== 'ok') {
          this.$swal('OH Sh*t', 'Server Connection Field, refresh balik dong!', 'error')
          return
        }

        this.dialog = false
        this.$swal('Wala na finish na!', 'your account has been created successfully', 'success')
      })
    }
  },

  created () {
    if (window.localStorage.token) {
      this.$router.push({path: '/'})
    }
  }
}
</script>
