<template>
  <div id="Music">
    <audio id="audio_player" ref="audio_player" autoplay>
      <source src="" type="audio/webm">
      Your browser does not support the audio element.
    </audio>

    <v-container grid-list-md>
      <v-layout row wrap>

        <v-flex d-flex xs12>
          <v-text-field
            solo
            append-icon="search"
            v-model="search"
            v-on:keypress.enter.native="searchMusic"
            label="Search"
          ></v-text-field>
        </v-flex>

        <v-flex xs12 sm4 md3>
          <v-card>
            <v-toolbar dark color="teal darken-3">
              <v-toolbar-title class="white--text">My Playlist</v-toolbar-title>
            </v-toolbar>
            <v-card-text>
              <v-list two-line subheader>
                <v-subheader inset v-if="queue.length">{{ queue.length }} Music List</v-subheader>
                <v-card-text v-if="!queue.length">
                  No Music Found!
                </v-card-text>
                <v-list-tile
                  v-for="item in queue"
                  :key="item.title"
                  avatar
                  @click="removeMusic(item)"
                >
                  <v-list-tile-content>
                    <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                  </v-list-tile-content>

                  <v-list-tile-action>
                    <v-btn icon ripple>
                      <v-icon color="grey lighten-1" @click="removeMusic(item)">remove_circle</v-icon>
                    </v-btn>
                  </v-list-tile-action>
                </v-list-tile>
              </v-list>
            </v-card-text>
          </v-card>
        </v-flex>

        <v-flex xs12 sm8 md9>
          <v-card>
            <v-card-title primary-title v-if="results.length">
              <h3 class="headline mb-0">Search Results for "{{ searchResult }}"</h3>
            </v-card-title>
            <v-progress-linear color="teal darken-3" class="custom-progress-bar" :indeterminate="loader"></v-progress-linear>
            <v-container fluid fill-height text-xs-center v-if="!results.length">
              <v-layout align-center justify-center>
                <v-flex xs12 sm8 md4>
                  <h1>Search Music Now!</h1>
                </v-flex>
              </v-layout>
            </v-container>
            <v-list two-line subheader v-if="results.length">
              <v-subheader inset>Found {{ results.length }}</v-subheader>

              <v-list-tile
                v-for="item in results"
                :key="item.title"
                avatar
                @click="addMusic(item)"
              >
                <v-list-tile-avatar class="custom-list">
                  <v-icon class="teal darken-3 white--text">music_note</v-icon>
                </v-list-tile-avatar>

                <v-list-tile-content>
                  <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                </v-list-tile-content>

                <v-list-tile-action>
                  <v-btn icon ripple>
                    <v-icon color="grey lighten-1" @click="addMusic(item)">play_arrow</v-icon>
                  </v-btn>
                </v-list-tile-action>
              </v-list-tile>
            </v-list>
          </v-card>
        </v-flex>
      </v-layout>
      <v-btn
        fab
        bottom
        right
        color="teal darken-3"
        dark
        fixed
        @click="dialog = true"
      >
        <v-icon>play_arrow</v-icon>
      </v-btn>
      <div class="text-xs-center">
        <v-bottom-sheet v-model="dialog" hide-overlay presistent>
          <v-card tile>
            <v-progress-linear
              :value="progress"
              color="teal darken-3"
              class="my-0"
              height="3"
            ></v-progress-linear>

            <v-list>
              <v-list-tile>
                <v-list-tile-content>
                  <v-list-tile-title>{{ currentSong.title }}</v-list-tile-title>
                </v-list-tile-content>

                <v-spacer></v-spacer>

                <v-flex xs2>
                  <v-slider
                    color="teal darken-3"
                    v-model="volume"
                  ></v-slider>
                </v-flex>

                <!--<v-list-tile-action v-if="currentSong.length">-->
                  <!--<v-list-tile-title>{{ progress | floatTime }} - {{ music.length }}</v-list-tile-title>-->
                <!--</v-list-tile-action>-->

                <v-list-tile-action>
                  <v-btn icon @click="nextPrevMusic('prev')">
                    <v-icon>fast_rewind</v-icon>
                  </v-btn>
                </v-list-tile-action>

                <v-list-tile-action :class="{ 'mx-5': $vuetify.breakpoint.mdAndUp }">
                  <v-btn icon @click="pausePlayMusic">
                    <v-icon>pause</v-icon>
                  </v-btn>
                </v-list-tile-action>

                <v-list-tile-action :class="{ 'mr-3': $vuetify.breakpoint.mdAndUp }">
                  <v-btn icon @click="nextPrevMusic('next')">
                    <v-icon>fast_forward</v-icon>
                  </v-btn>
                </v-list-tile-action>
              </v-list-tile>
            </v-list>
          </v-card>
        </v-bottom-sheet>
      </div>
    </v-container>
  </div>
</template>

<style scope>
  #Music{
    width:100%;
  }

  .custom-list {
    height: 50%;
  }

  .custom-progress-bar {
    margin: 0px;
  }
</style>

<script>
import HTTP from '../common/HTTP'
import { bus } from '../main'
import _ from 'lodash'

export default {
  data: () => ({
    search: '',
    searchResult: '',
    loader: false,
    dialog: false,
    progress: 0,
    currentTime: 0,
    currentSong: {
      id: '',
      title: 'No Music Playing',
      duration: ''
    },
    duration: 0,
    volume: 100,
    queue: [],
    results: []
  }),
  methods: {
    async searchMusic () {
      this.loader = true
      await HTTP.get(`https://merciful-cellar.glitch.me/search/${this.search}`).then(res => {
        if (res.status !== 200) {
          this.$swal('THAP', 'OH Sh*t Something went wong', 'error')
          return
        }
        this.searchResult = this.search
        this.results = res.data
        this.loader = false
      })
    },

    async addMusic (music) {
      this.loader = true

      if (this.queue.findIndex(i => i.id === music.id) !== -1) {
        this.$swal('Wait Sa!', 'music already exists', 'error')
        return
      }

      if (this.queue.length < 1) {
        this.$refs.audio_player.src = `https://merciful-cellar.glitch.me/retrieve/${music.id}`

        this.currentSong = {
          id: music.id,
          title: music.title,
          duration: music.length
        }
      }

      console.log('current song', this.currentSong)

      this.queue.push({
        icon: 'music_note', iconClass: 'teal darken-3 white--text', title: music.title, id: music.id
      })

      this.loader = false
    },

    async pausePlayMusic () {
      if (this.$refs.audio_player.src) {
        if (this.$refs.audio_player.paused) {
          await this.$refs.audio_player.play()
        } else {
          await this.$refs.audio_player.pause()
        }
      }
    },

    async nextPrevMusic (type) {
      if (this.$refs.audio_player.src) {
        let currentIndx = this.queue.findIndex(i => i.id === this.currentSong.id)
        let alter = type === 'next' ? 1 : -1

        if (this.queue[currentIndx + alter]) {
          let current = this.queue[currentIndx + alter]

          this.$refs.audio_player.src = `https://merciful-cellar.glitch.me/retrieve/${current.id}`

          this.currentSong = {
            id: current.id,
            title: current.title,
            duration: current.length
          }
        }
      }
    },

    async removeMusic (music) {
      this.$swal({
        title: 'Are you sure?',
        text: `you are about to remove ${music.title}?`,
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, remove it!',
        cancelButtonText: 'No, keep it'
      }).then((result) => {
        if (result.value) {
          this.queue.splice(_.findIndex(this.queue, {title: music.title}), 1)
        }
      })
    }
  },

  async created () {
    bus.$on('playerDialog', (data) => {
      this.dialog = data
    })
  },

  mounted () {
    this.$refs.audio_player.addEventListener('loadedmetadata', () => {
      this.duration = this.$refs.audio_player.duration
    })

    this.$refs.audio_player.addEventListener('timeupdate', () => {
      this.currentTime = this.$refs.audio_player.currentTime
      this.progress = (this.currentTime / this.duration) * 100
    })

    this.$refs.audio_player.addEventListener('ended', () => {
      this.progress = 0

      if (this.$refs.audio_player.src) {
        let currentIndx = this.queue.findIndex(i => i.id === this.currentSong.id)

        if (this.queue[currentIndx + 1]) {
          let current = this.queue[currentIndx + 1]
          this.$refs.audio_player.src = `https://merciful-cellar.glitch.me/retrieve/${current.id}`

          this.currentSong = {
            id: current.id,
            title: current.title,
            duration: current.length
          }
        }
      }
    })
  },

  watch: {
    volume () {
      this.$refs.audio_player.volume = (this.volume / 100)
    }
  },

  filters: {
    floatTime: function (progress) {
      if (progress !== 0) {
        console.log(progress)
        // console.log(moment().startOf('day').add(progress, 'minutes').format('m:ss'))
        return 'x'
      }
      return '00:00'
    }
  }
}
</script>
