<template>
  <v-app id="inspire" dark>
    <v-toolbar app fixed clipped-left v-if="authentication" color="purple darken-3">
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>Lingaw</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon @click="logoutUser">
        <v-icon>power_settings_new</v-icon>
      </v-btn>
    </v-toolbar>
    <v-content>
      <v-container id="fixedLogin" fluid fill-height>
        <v-layout>
          <router-view></router-view>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<style scope>
  #fixedLogin{
    padding: 0px;
    margin: 0px;
  }
</style>
<script>
import router from './router/index'
import HTTP from './common/HTTP'
// import _ from 'lodash'
import { bus } from './main'
export default {
  data: () => ({
    router,
    drawer: true,
    dialog: false,
    user: [],
    players: [],
    token: '',
    items: [
      { icon: 'library_music', text: 'Music', uri: '/' },
      { icon: 'videocam', text: 'Youtube', uri: '/youtube' },
      { icon: 'extension', text: 'Cards Against Humanity', uri: '/board' }
    ]
  }),

  methods: {
    async userInfo () {
      await HTTP.get(`/api/user/${JSON.parse(window.localStorage.user).username}`).then(res => {
        this.user = res.data
      })
    },

    async logoutUser () {
      window.localStorage.removeItem('token')
      window.localStorage.removeItem('user')
      bus.$emit('token', false)
      this.$swal('Geh Amping!', 'Logout na, finish na!', 'success')
      this.$router.push({path: '/login'})
    }
  },

  created () {
    bus.$on('token', (data) => {
      this.token = data
    })
  },

  mounted () {
    this.userInfo()
  },

  computed: {
    authentication: function () {
      if (this.token || window.localStorage.token) {
        return true
      }

      return false
    }
  }
}
</script>
